

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: black;
    color: #66FF8C;
    width: fit-content;
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

/* -------- Nav bar -------------*/

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #66FF8C;
    color: black;
    height: 2.4rem;
    padding: 0 .5rem;
    padding-top: .7rem;
    border-bottom: #16702D solid 3px;
}

nav ul {
    display: flex;
    width: 10.5rem;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
}

.nav-logo {
    color: black;
    height: fit-content;
    position: relative;
    bottom: .5rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.7rem;
}

.nav-logo span {
    color: #700B11;
}

/* -------- Main Header ----------*/

.main-header {
    height: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
}

header h1 {
    color: #66FF8C
}

.gamer, .coffee {
    color: #700B11
}

/* ---------- About Section ---------*/

.about {
    background-color: #39BD5A;
    color: black;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    border-bottom: #16702D solid 3px;
}

.about h2, .about h3 {
    border-bottom: black solid 3px;
    font-family: 'Bebas Neue', cursive;
}

.about ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
}

/* ---------- Projects Section ---------*/

.projects {
    height: 50rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.projects h2 {
    font-family: 'Bebas Neue', cursive;
    border-bottom: #66FF8C solid 3px;
}

.projects ul {
    height: 45rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    justify-content: space-around;
}

/* ------- Footer Section ---------*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #66FF8C;
    color: black;
    height: 2.5rem;
    padding: 0 1rem;
}

footer a, footer p {
    height: fit-content;
    position: relative;
    top: .9rem;
}