

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: #26402B;
    color: #79CA87;
    width: fit-content;
    font-size: 2.4vh;
    font-family: 'Merriweather', serif;
}

/* -------- Nav bar -------------*/

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #79CA87;
    color: #13401B;
    height: 4.7vh;
    padding: 0 1vh;
    padding-top: 1.7vh;
    border-bottom: #2A8C3A solid .65vh;
}

nav ul {
    display: flex;
    width: 25vh;
    justify-content: space-between;
    list-style-type: none;
    font-weight: bold;
}

.nav-logo {
    height: fit-content;
    position: relative;
    bottom: .3vh;
}

/* -------- Main Header ----------*/

.main-header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-family: 'Bebas Neue', cursive;
}

header h1 {
    color: #39BF50
}

/* ---------- About Section ---------*/

.about {
    background-color: #39BF50;
    color: #26402B;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh;
}

.about h2, .about h3 {
    border-bottom: #26402B solid .5vh;
    font-family: 'Bebas Neue', cursive;
}

.about ul {
    padding-left: 1rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
}